<div class="new_top_menu" id="new_top_menu">
    <div class="line">
        <div class="right">
            <div class="search">
                <form action="/<%- page.urls.search %>/title" name="searchform" method="get">
                    <input type="text" class="search_inp" name="q" autocomplete="off" placeholder="Поиск на сайте...">
                    <input type="submit" class="search_but" value="" rel="nofollow">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="new_head">
    <div class="head">
        <div class="logo">
            <a href="/" rel="nofollow"><img src="/themes/sansa/public/images/logo.png" alt="Логотип" style="height:88px;"></a>
        </div>
        <a href="javascript:void(0)" class="reg continueViewingBlock" id="continueViewing" style="display: none;">Остановились?</a>
        <div class="search">
            <form action="/<%- page.urls.search %>/title" name="searchform" method="get">
                <input type="text" class="search_inp" name="q" id="story" autocomplete="off" placeholder="Поиск на сайте...">
                <input type="submit" class="search_but" value="" rel="nofollow">
            </form>
        </div>
    </div>

    <% if (typeof slider === 'object' && slider.length) { %>

    <div class="carousel">

        <div class="hs_arrow hs_arrow_l enable"></div>
        <div class="hs_arrow hs_arrow_r enable"></div>

        <div class="hs_films carousel_container">
            <ul class="hs_container">

                <% slider.forEach(function (movie) { %>
                
                <li>
                    <div class="hs_item inner">
                        <a href="<%- movie.url %>">
                            <div class="hs_item_play"></div>
                            <img src="<%- movie.poster %>" alt="<%= movie.title %>" title="<%= movie.title %>">
                        </a>
                    </div>
                </li>

                <% }); %>

            </ul>
        </div>
        <div class="menu">
            <div class="links">
                <ul>
                    <li><a href="/" rel="nofollow">Главная</a></li>
                    <li><a href="/<%- page.urls.content %>?tag=Коллекция">Подборки кино</a></li>
                    <li><a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>">Рейтинг фильмов</a></li>
                    <li><a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>">Рейтинг сериалов</a></li>
                </ul>
            </div>

            <% if (page.social) { %>
            <div class="social">
                <% if (page.social.twitter) { %><a href="<%- page.social.twitter %>" target="_blank" class="sbut tw"></a><% } %>
                <% if (page.social.facebook) { %><a href="<%- page.social.facebook %>" target="_blank" class="sbut fb"></a><% } %>
                <% if (page.social.gplus) { %><a href="<%- page.social.gplus %>" target="_blank" class="sbut gp"></a><% } %>
                <% if (page.social.vk) { %><a href="<%- page.social.vk %>" target="_blank" class="sbut vk"></a><% } %>
                <% if (page.social.youtube) { %><a href="<%- page.social.youtube %>" target="_blank" class="sbut yt"></a><% } %>
                <% if (page.social.instagram) { %><a href="<%- page.social.instagram %>" target="_blank" class="sbut in"></a><% } %>
            </div>
            <% } %>
            
        </div>
    </div>

    <% } %>

</div>