<div class="navigation">

    <div class="category">
        <div class="title">Категории</div>
        <ul>
            <li><a href="/<%- page.urls.genre %>">Все жанры</a></li>
            <% page.urls.genres.forEach(function(genre) { %>
            <li>
                <a href="<%- genre.url %>">
                    <%- genre.title %>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>


    <div class="others">

        <div class="year">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>" class="section section_2">Все фильмы</a>
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=premiere-up" class="section">Новинки КИНО</a>
            <ul>
                <li><a href="/<%- page.urls.year %>">Все годы</a></li>
                <% page.urls.years.slice(0,10).forEach(function(year) { %>
                <li>
                    <a href="<%- year.url %>">
                        <%- year.title %> год
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>

        <div class="country">
            <ul>
                <li><a href="/<%- page.urls.country %>">Все страны</a></li>
                <% page.urls.countries.slice(0,10).forEach(function(country) { %>
                <li>
                    <a href="<%- country.url %>">
                        <%- country.title %>
                    </a>
                </li>
                <% }); %>
            </ul>
        </div>

        <div class="series">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>" class="section">Сериалы</a>
            <ul>
                <li><a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sorting=imdb-vote-up">Популярные</a></li>
                <li><a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sorting=imdb-rating-up">Рейтинговые</a></li>
            </ul>
        </div>

    </div>

</div>
 
<% if (typeof soon === 'object' && soon.length) { %>

<div class="new-items new_sb">

    <% soon.forEach(function (movie) { %>

    ﻿<div class="item">
        <div class="poster">
            <div class="sc_info">В прокате с<br> <%- movie.premiere %></div>
            <a href="<%- movie.url %>" rel="nofollow"><img src="<%- movie.poster %>" alt="<%= movie.title %>" title="<%= movie.title %>"></a>
        </div>
        <div class="link"><a href="<%- movie.url %>"><%= movie.title %></a></div>
    </div>

    <% }); %>

</div>

<% } %>

<% if (typeof news === 'object' && news.length) { %>
<% news.forEach(function (content) { %>
<div style="float: left; width: 100%;">
    <div style="margin: 0; padding: 10px 0 10px 10px">
        <a href="<%- content.url %>" class="cinemapress-news">
            <img src="<%- content.image %>" class="cinemapress-news-image" alt="<%= content.title %>">
            <div class="cinemapress-news-title">
                <%= content.title %>
            </div>
        </a>
    </div>
</div>
<% }); %>
<div style="clear: both"></div>
<% } %>

<% if (typeof page.adv === 'object' && page.adv.left) { %>
<div style="clear: both;"></div>
<div style="text-align: center; margin: 10px auto">
    <%- page.adv.left %>
</div>
<div style="clear: both;"></div>
<% } %>

<% if (typeof recent === 'object' && recent.length) { %>
<% recent.forEach(function (comment) { %>
<div style="margin: 10px 0 10px 10px;">
    <div class="cinemapress-recent" style="background: none; border: 0;">
        <div class="cinemapress-recent-head">
            <% if (comment.avatar) { %>
            <div class="cinemapress-recent-head-avatar" style="background: #215EC3; border: 5px #215EC3 solid;">
                <img src="<%- comment.avatar %>" alt="<%- comment.user %>">
            </div>
            <% } %>
            <div class="cinemapress-recent-head-meta">
                <div>
                    <a href="<%- comment.url %>" style="color: #215EC3"><%= comment.title %></a>
                </div>
                <div>
                    <span>
                        <%- comment.user %>
                    </span><span>
                        сказал(а)
                    </span><span>
                        <%- comment.date %>
                    </span>
                </div>
            </div>
        </div>
        <div class="cinemapress-recent-comment" style="background: #215EC3; color: #fff">
            <%- comment.comment %>
        </div>
    </div>
</div>
<% }); %>
<div style="clear: both;"></div>
<% } %>