<div class="navigation">

    <div style="margin: 0 0 30px 0;color: #fff;font-size: 20px;font-weight: bold;"><%- page.l.navigation %></div>

    <div class="category">
        <div class="title"><%- page.l.menu %></div>
        <ul>
            <li><a href="/<%- page.urls.genre %>"><%- page.l.allGenres %></a></li>
            <% page.urls.genres.forEach(function(genre) { %>
                <li>
                    <a href="<%- genre.url %>">
                        <%- genre.title %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>


    <div class="others">

        <div class="year">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>"
               class="section section_2"><%- page.l.movies %></a>
            <a href="/<%- page.urls.type %>/<%- page.urls.types.movie %>?sorting=premiere-up"
               class="section"><%- page.l.premieres %></a>
            <ul>
                <li><a href="/<%- page.urls.year %>"><%- page.l.allYears %></a></li>
                <% page.urls.years.slice(0, 10).forEach(function(year) { %>
                    <li>
                        <a href="<%- year.url %>">
                            <%- year.title %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>

        <div class="country">
            <ul>
                <li><a href="/<%- page.urls.country %>"><%- page.l.allCountries %></a></li>
                <% page.urls.countries.slice(0, 10).forEach(function(country) { %>
                    <li>
                        <a href="<%- country.url %>">
                            <%- country.title %>
                        </a>
                    </li>
                <% }); %>
            </ul>
        </div>

        <div class="series">
            <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>" class="section"><%- page.l.series %></a>
            <ul>
                <li>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sorting=imdb-vote-up"><%- page.l.popular %></a>
                </li>
                <li>
                    <a href="/<%- page.urls.type %>/<%- page.urls.types.serial %>?sorting=imdb-rating-up"><%- page.l.rating %></a>
                </li>
            </ul>
        </div>

    </div>

</div>

<% if (typeof index === 'object') {
        for (var type in index) {
if (index.hasOwnProperty(type) && index[type].length && type === 'episode') {
index[type].forEach(function (category) { %>

    <div class="new-items new_sb">

        <div style="margin: 0 0 30px 0;color: #fff;font-size: 20px;font-weight: bold;"><%- category.name %></div>

        <% var moreEpisodes = false; %>
        <% if (typeof category === 'object' && category.movies && category.movies.length) {
        category.movies.forEach(function (movie) { %>

            ﻿
            <div class="item" <% if (movie.hide) { moreEpisodes = true; %>style="display:none" data-more-episodes="hide"
                    <% } %>
            >
                <div class="poster">
                    <div class="sc_info">
                        <% if (movie.season && movie.episode) { %><%- movie.season %> <%- page.l.season %> <%- movie.episode %> <%- page.l.episode %><% if (movie.translate) { %>
                            <br><%- movie.translate %><% } %>
                        <% } %>
                    </div>
                    <a href="<%- movie.url %>"><img src="<%- movie.poster_min %>" class="lazy" data-src="<%- movie.poster %>" alt="<%= movie.title %>"
                                                    title="<%= movie.title %>"></a>
                </div>
                <div class="link"><a href="<%- movie.url %>"><%= movie.title %></a></div>
            </div>

        <% }); } %>

    </div>

    <% if (moreEpisodes) { %>
        <div style="clear:both"></div>
        <div class="moreEpisodes"
             onclick="var dme = document.querySelectorAll('[data-more-episodes]'); dme && dme.forEach(function(e) {e.style.display='block'});this.style.display='none'"><%- page.l.moreEpisodes %></div>
    <% } %>

<% }); } } } %>

<% if (typeof soon === 'object' && soon.length) { %>

    <div class="new-items new_sb">

        <div style="margin: 0 0 30px 0;color: #fff;font-size: 20px;font-weight: bold;"><%- page.l.soon %></div>

        <% soon.forEach(function (movie) { %>

            ﻿
            <div class="item">
                <div class="poster">
                    <div class="sc_info"><%- page.l.premiere %><br> <%- movie.premiere %></div>
                    <a href="<%- movie.url %>"><img src="<%- movie.poster_min %>" class="lazy" data-src="<%- movie.poster %>" alt="<%= movie.title %>"
                                                    title="<%= movie.title %>"></a>
                </div>
                <div class="link"><a href="<%- movie.url %>"><%= movie.title %></a></div>
            </div>

        <% }); %>

    </div>

<% } %>

<% if (typeof news === 'object' && news.length) { %>
    <% news.forEach(function (content) { %>
        <div style="float: left; width: 100%;">
            <div style="margin: 0; padding: 10px 0 10px 10px">
                <a href="<%- content.url %>" class="cinemapress-news"
                   style="background-image:url('<%- content.image %>');">
                    <div class="cinemapress-news-title">
                        <%= content.title %>
                    </div>
                </a>
            </div>
        </div>
    <% }); %>
    <div style="clear: both"></div>
<% } %>

<% if (typeof page.adv === 'object' && page.adv.left) { %>
    <div style="clear: both;"></div>
    <div style="text-align: center; margin: 10px auto">
        <%- page.adv.left %>
    </div>
    <div style="clear: both;"></div>
<% } %>

<% if (typeof recent === 'object' && recent.length) { %>
    <% recent.forEach(function (comment) { %>
        <div style="margin: 10px 0 10px 10px;">
            <div class="cinemapress-comment">
                <div class="cinemapress-comment-head">
                    <div class="cinemapress-comment-head-avatar">
                        <img src="<%- comment.avatar %>" alt="<%= comment.user %>">
                    </div>
                    <div class="cinemapress-comment-head-meta">
                        <div class="cinemapress-comment-head-meta-title">
                            <a href="<%- comment.url %>" title="<%= comment.title %>"><%= comment.title %></a>
                        </div>
                        <div class="cinemapress-comment-user" data-comment-id="<%- comment.id %>">
                            <div class="cinemapress-comment-user-name">
                                <%- comment.user %>
                            </div>
                            <div class="cinemapress-comment-user-said">
                                <%- page.l.said %>
                            </div>
                            <div class="cinemapress-comment-user-date">
                                <%- comment.date %>
                            </div>
                            <div class="cinemapress-comment-user-link">
                                <a href="<%- comment.url %>#c<%- comment.id %>" title="<%= comment.title %>">#</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cinemapress-comment-bg cinemapress-comment-radius">
                    <%- comment.comment %>
                </div>
            </div>
        </div>
    <% }); %>
    <div style="clear: both;"></div>
<% } %>