<!DOCTYPE html>
<html lang="ru">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<% include includes/header.ejs %>

<div id="content">

    <div class="left">

        <% include includes/left.ejs %>

    </div>

    <div class="right">

        <div class="speedbar">
            <span id="cinemapress-speedbar">
                <a href="/">Главная</a> &#9658;
                <%= page.title %>
            </span>
        </div>

        <% if (typeof page.adv === 'object' && page.adv.top) { %>
        <div style="clear: both;"></div>
        <div style="text-align: center; margin: 10px auto">
            <%- page.adv.top %>
        </div>
        <div style="clear: both;"></div>
        <% } %>

        <div class="category-name_2 category-name_2_podb">
            <h1><%= page.title %></h1>
        </div>

        <% if (typeof categories === 'object' && categories.length) { %>
        <div style="clear: both"></div>
        <% categories.forEach(function (content) { %>
        <div style="float: left; width: 50%;">
            <div style="margin: 0; padding: 10px">
                <a href="<%- content.url %>" class="cinemapress-news">
                    <img src="<%- content.image %>" class="cinemapress-news-image" alt="<%= content.title %>">
                    <div class="cinemapress-news-title">
                        <%= content.title %>
                    </div>
                </a>
            </div>
        </div>
        <% }); %>
        <div style="clear: both"></div>
        <% } %>

        <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
        <div style="clear: both;"></div>
        <div style="text-align: center; margin: 10px auto">
            <%- page.adv.bottom %>
        </div>
        <div style="clear: both;"></div>
        <% } %>

        <% if (page.seo) { %>
        <div style="clear: both;"></div>
        <div class="main-info">
            <div class="page_seo">
                <%- page.seo %>
            </div>
        </div>
        <div style="clear: both;"></div>
        <% } %>

        <div class="main-info recentlyViewedBlock" style="margin: 20px 0 0 0; display: none;">
            <div>Вы надавно смотрели:</div>
            <div id="recentlyViewed"></div>
        </div>

    </div>

    <div style="clear: both;"></div>

</div>


<div id="footer">

    <% include includes/footer.ejs %>

</div>

</body>
</html>