<!DOCTYPE html>
<html lang="<%- page.language %>" prefix="og: http://ogp.me/ns# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<% include includes/header.ejs %>

<div id="content">

    <div class="left">

        <% include includes/left.ejs %>

    </div>

    <div class="right">

        <div class="speedbar">
            <span id="cinemapress-speedbar">
                <a href="/"><%- page.l.home %></a><% if (movie.genre_url) { %> &#9658; <%- movie.genre_url %><% } else { %> &#9658; <%- movie.year_url %><% } %> &#9658; <a href="<%- movie.url %>"><%= movie.title %></a> &#9658; <%- page.l.download %>
            </span>
        </div>

        <% if (typeof page.adv === 'object' && page.adv.top) { %>
        <div style="clear: both;"></div>
        <div style="text-align: center; margin: 10px auto">
            <%- page.adv.top %>
        </div>
        <div style="clear: both;"></div>
        <% } %>

        <div id="cinemapress-content">

            <div class="story full">

                <div class="s_name"><h1><%- page.h1 %></h1></div>

                <% if (movie.rating) { %>

                <div class="rating show_rating_panel">
                    <span class="text"><%- page.l.rating %>:</span>
                    <div class="vote-num">
                        <span><%- movie.rating/10 %></span>
                    </div>
                    <div class="clear"></div>
                </div>

                <% } %>

                <div class="poster_m">
                    <div class="poster_main">
                        <div class="poster_main_2"><img src="<%- movie.poster %>" alt="<%= page.title %>" title="<%= page.title %>" data-cinemapress-poster="<%- movie.poster %>"></div>
                    </div>
                </div>

                <div class="description">
                    <% if (page.seo) { %>
                    <p><%- page.seo %></p>
                    <% } %>
                </div>

                <div class="new_information">

                    <div class="bleft">
                        <ul>
                            <% if (movie.year_url) { %>
                            <li><span><%- page.l.year %>:</span> <%- movie.year_url %></li>
                            <% } %>
                            <% if (movie.countries_url) { %>
                            <li><span><%- page.l.countries %>:</span> <%- movie.countries_url %></li>
                            <% } %>
                            <% if (movie.genres) { %>
                            <li><span><%- page.l.genres %>:</span> <%- movie.genres %></li>
                            <% } %>
                            <% if (movie.directors_url) { %>
                            <li><span><%- page.l.directors %>:</span> <%- movie.directors_url %></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="bright">
                        <ul>
                            <% if (movie.kp_vote) { %>
                            <li><span><%- page.l.rating %> <%- page.l.kp %>:</span> <%- movie.kp_rating/10 %></li>
                            <% } %>
                            <% if (movie.imdb_vote) { %>
                            <li><span><%- page.l.rating %> <%- page.l.imdb %>:</span> <%- movie.imdb_rating/10 %></li>
                            <% } %>
                            <% if (movie.premiere) { %>
                            <li><span><%- page.l.premiere %>:</span> <%- movie.premiere %></li>
                            <% } %>
                            <li><span><% if (movie.quality) { %><%- movie.quality %><% } %><% if (movie.translate) { %> | <%- movie.translate %><% } %></span></li>
                        </ul>
                    </div>
                    <% if (movie.actors_url) { %>
                    <div class="bcenter">
                        <p class="title"><%- page.l.actors %></p>
                        <%- movie.actors_url %>
                    </div>
                    <% } %>
                    <% if (movie.tags_url) { %>
                    <div class="bcenter">
                        <p class="title"><%- page.l.tags %></p>
                        <%- movie.tags_url %>
                    </div>
                    <% } %>

                </div>

                <div class="new_information episodesListBlock" style="border-top: 0; margin: 10px; padding: 0; display: none;">
                    <h3><%= movie.title %> <%- page.l.episodes %></h3>
                    <div id="episodesList" data-id="<%- movie.kp_id %>"></div>
                </div>

            </div>

            <div class="full_h2">
                <h2><%= movie.title %></h2>
            </div>

            <% if (typeof page.adv === 'object' && page.adv.over) { %>
            <div style="clear: both;"></div>
            <div style="text-align: center; margin: 10px auto">
                <%- page.adv.over %>
            </div>
            <% } %>

            <div class="player-block">

                <div class="tabss">
                    <div class="gall">

                        <ul class="gal_line">
                            <li class="active"><%- page.l.download %></li>
                            <% if (page.urls.movies.trailer) { %>
                            <li><a href="<%- movie.url %>/<%- page.urls.movies.trailer %>"><%- page.l.trailer %></a></li>
                            <% } %>
                            <% if (page.urls.movies.online) { %>
                            <li><a href="<%- movie.url %>/<%- page.urls.movies.online %>"><%- page.l.online %></a></li>
                            <% } %>
                        </ul>

                        <div id="cinemapress-player" style="width: 683px;">
                            <% if (page.player) { %>
                                <%- page.player %>
                            <% } %>
                        </div>
                    </div>
                </div>

                <div class="shares">
                    <div class="social-likes">
                        <div class="vkontakte" title="<%- page.l.vk %>"><%- page.l.vk %></div>
                        <div class="facebook" title="<%- page.l.facebook %>"><%- page.l.facebook %></div>
                        <div class="twitter" title="<%- page.l.twitter %>"><%- page.l.twitter %></div>
                    </div>
                </div>

            </div>

            <% if (typeof page.adv === 'object' && page.adv.under) { %>
            <div style="clear: both;"></div>
            <div style="text-align: center; margin: 10px auto">
                <%- page.adv.under %>
            </div>
            <% } %>

            <% if (movie.pictures.length) { %>
            <div class="new_cadrs">
                <div style="text-align: center; margin: 10px auto;">
                    <div class="cadrs_view">
                        <div class="cadrs_container" id="lightgallery">
                            <% movie.pictures.forEach(function (picture) { %>
                            <% var ahref = page.urls.movies.picture
                                    ? movie.url + '/' + page.urls.movies.picture
                                    : picture.picture_big %>
                            <a href="<%- ahref %>"><img src="<%- picture.picture_min %>" alt="<%= movie.title %> <%- movie.year %> <%- page.l.picture %>" title="<%= movie.title %>"></a>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
            <% if (!page.urls.movies.picture) { %>
            <link href="/themes/default/public/desktop/css/lightgallery.min.css" rel="stylesheet">
            <script src="/themes/default/public/desktop/js/lightgallery.min.js"></script>
            <script>lightGallery(document.getElementById('lightgallery'));</script>
            <% } %>
            <% } %>

            <% if (typeof contents === 'object' && contents.length) { %>
            <div style="clear: both"></div>
            <% contents.forEach(function (content) { %>
            <div style="float: left; width: 50%;">
                <div style="margin: 0; padding: 10px">
                    <a href="<%- content.url %>" class="cinemapress-news" style="background-image:url('<%- content.image %>');">
                        <div class="cinemapress-news-title">
                            <%= content.title %>
                        </div>
                    </a>
                </div>
            </div>
            <% }); %>
            <div style="clear: both"></div>
            <% } %>

            <% if (typeof movies === 'object') {
                    for (var type in movies) {
            if (movies.hasOwnProperty(type) && movies[type].length) {
            movies[type].forEach(function (category) { %>
            <div class="relat_films">
                <div class="rf_head">
                    <h4>
                        <%- category.name %>
                        <div class="randomMovieRelated">
                            <div class="cinemapress-random-related"
                                 onclick="window.location.href='<%- (category.url.indexOf('?')+1 ? category.url + '&random' : category.url + '?random') %>'"
                                 title="<%- page.l.random %>">
                                <img src="/themes/<%- page.theme %>/public/images/dice.svg" alt="<%- page.l.random %>">
                            </div>
                        </div>
                    </h4>
                </div>
                <% if (category.movies.length) {
                category.movies.forEach(function (movie) {  %>
                <div class="item">
                    <a href="<%- movie.url %>"><img src="<%- movie.poster %>" alt="<%= movie.title %>" title="<%= movie.title %>"/></a>
                    <div class="link"><a href="<%- movie.url %>"><%= movie.title %> <%- movie.year %></a></div>
                </div>
                <% }); } %>
            </div>
            <% }); } } } %>

            <div style="clear: both;"></div>

            <div class="comment-list">
                <% if (page.comments) { %>
                <%- page.comments %>
                <% } %>
            </div>

        </div>

        <% if (typeof page.adv === 'object' && page.adv.bottom) { %>
        <div style="clear: both;"></div>
        <div style="text-align: center; margin: 10px auto">
            <%- page.adv.bottom %>
        </div>
        <div style="clear: both;"></div>
        <% } %>

        <div style="clear: both;"></div>

        <div class="main-info recentlyViewedBlock" style="margin: 20px 0 0 0; display: none;">
            <div><%- page.l.watched %>:</div>
            <div id="recentlyViewed"></div>
        </div>

    </div>

    <div style="clear: both;"></div>

</div>

<div id="footer">

    <% include includes/footer.ejs %>

</div>

</body>
</html>