<!DOCTYPE html>
<html lang="ru">
<head>

    <% include includes/head.ejs %>

</head>
<body>

<% include includes/header.ejs %>

<div id="content">

    <div class="left">

        <% include includes/left.ejs %>

    </div>

    <div class="right">

        <div id="dle-content">

            <% if (typeof movies == 'object') { for (var type in movies) { if (movies.hasOwnProperty(type)) { %>

            <% if (movies[type].length) { movies[type].forEach(function (category) { %>

            <div class="category-name_2">
                <h2>
                    <%- category.name %>
                </h2>
            </div>

            <div style="clear: both;"></div>

            <% if (category.movies.length) { category.movies.forEach(function (movie) { %>

            <div class="story story_m">
                <div class="s_name">
                    <div class="fname">
                        <a href="<%- movie.url %>">
                            <%- movie.title %>
                            <span><% if (movie.season && movie.episode) { %><%- movie.season %> сезон <%- movie.episode %> серия <% if (movie.translate) { %><%- movie.translate %><% } %><% } else { %><%- movie.year %><% } %></span> </a>
                    </div>
                </div>

                <% if (movie.rating) { %>

                <div class="rating show_rating_panel">
                    <span class="text">Общий рейтинг:</span>
                    <div class="vote-num">
                        <span><%- movie.rating / 10 %></span>
                    </div>
                    <div class="clear"></div>
                </div>

                <% } %>

                <div class="poster">

                    <div class="poster_over_2">

                        <a href="<%- movie.url %>" rel="nofollow" class="poster_over_2_play"></a>
                        <a href="<%- movie.url %>/<%- page.urls.movies.trailer %>" rel="nofollow" class="poster_tr"></a>

                    </div>

                    <a href="<%- movie.url %>" rel="nofollow">
                        <img src="<%- movie.poster %>" alt="<%- movie.title %>" title="<%- movie.title %>"> </a>

                </div>

                <div class="description">
                    <% if (movie.description_short) { %>
                    <span>Описание:</span>
                    <p>
                        <%- movie.description_short %>...
                    </p>
                    <% } %>
                    <div class="information">
                        <ul>
                            <% if (movie.year) { %>
                            <li><span>Год выпуска:</span> <%- movie.year %></li>
                            <% } %>
                            <% if (movie.countries) { %>
                            <li><span>Страна:</span> <%- movie.countries %></li>
                            <% } %>
                            <% if (movie.genres) { %>
                            <li><span>Жанр:</span> <%- movie.genres %></li>
                            <% } %>
                            <% if (movie.directors) { %>
                            <li><span>Режиссер:</span> <%- movie.directors %></li>
                            <% } %>
                            <% if (movie.kp_vote) { %>
                            <li><span>Рейтинг КиноПоиск:</span> <%- movie.kp_rating / 10 %></li>
                            <% } %>
                            <% if (movie.imdb_vote) { %>
                            <li><span>Рейтинг IMDb:</span> <%- movie.imdb_rating / 10 %> (<%- movie.imdb_vote %>)</li>
                            <% } %>
                            <% if (movie.premiere) { %>
                            <li><span>Премьера:</span> <%- movie.premiere %></li>
                            <% } %>
                        </ul>
                        <div class="read-more">
                            <a href="<%- movie.url %>" rel="nofollow" class="read"><span>Смотреть онлайн</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <% }); } %>

            <% }); } %>

            <% } } } %>

        </div>

        <% if (page.seo) { %>

        <div style="clear: both;"></div>

        <div class="main-info">
            ﻿
            <div class="page_seo">
                <h1><%- page.title %></h1>
                <%- page.seo %>
            </div>

        </div>

        <div style="clear: both;"></div>

        <% } %>

        <div class="main-info recentlyViewedBlock" style="margin: 20px 0 0 0; display: none;">

            <div>Вы надавно смотрели:</div>
            <div id="recentlyViewed"></div>

        </div>

    </div>

    <div style="clear: both;"></div>

</div>


<div id="footer">

    <% include includes/footer.ejs %>

</div>

</body>
</html>